.regForm {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-top: 50px;
    margin: 50px auto;
}

.form-input {
    display: block;
    margin: 5px auto;
}

.form-heading {
    text-align: center;
}

.err-msg {
    text-align: right;
    font-size: 10px;
    color: red;
    margin-right: 119px;
}

.opacity {
    opacity: 0;
    visibility: hidden;
}